<h1>Boring Yawn..</h1>

<h2>This blog is about really boring things.</h2>

<ul>
  <% @recent_posts.each do |post| %>
    <li>
      <% if current_user %>
        <%= link_to "#{post.title}", edit_post_path(post) %>
      <% else %>
        <%= link_to "#{post.title}", show_post_path(post) %>
      <% end %>
        <%= post.body %>
    </li>
  <% end %>
</ul>

